.paypal_paid {
  background-color: var(--secondary-color);
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.paypal_paid__link {
  color: var(--primary-color);
}