@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
  --primary-color: #7acc2d;
  --secondary-color: #313337;
  --shadow: 0px 0 2px 1px #e6e5e9;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
}

/* --------------- section navbar ---------------- */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  padding: 10px;
  color: white;
}

.navbar__options {
  display: flex;
}

.navbar__option-item {
  padding-left: 20px;
  list-style: none;
}

.navbar__option-link {
  color: var(--secondary-color);
  text-decoration: none;
}

.navbar__option-link:hover {
  color: white;
}

/* --------------- section main-section ---------------- */

.main-section {
  padding: 15%;
  text-align: center;
}

/* --------------- section products ---------------- */

.products-section {
  background-image: url("../images/curve.webp");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  height: 95px;
  padding: 15%;
  display: flex;
}

.product {
  padding: 20px;
  margin-top: -226px;
}

.product__card {
  background-color: white;
  padding: 20px;
  border-radius: 3px;
  box-shadow: var(--shadow);
}

.product__image {
  text-align: center;
}

.product__button {
  background-color: var(--primary-color);
  width: 100%;
  padding: 10px;
  color: white;
  border: 0;
  font-size: 12px;
  border-radius: 2px;
}

.product__button:hover {
  background-color: #63a426;
  cursor: pointer;
}

/* --------------- section benefits ---------------- */

.benefits-section {
  padding: 10%;
  display: flex;
}

.benefit {
  text-align: center;
  padding: 20px;
}

.benefit__img {
  max-height: 100px;
}

.benefit__detail {
  text-align: justify;
}

/* --------------- section mention ---------------- */

.mention__title {
  text-align: center;
}

.mentions-section {
  display: flex;
  padding: 5%;
}

.mention__card {
  padding: 10px;
}

.mention__image {
  width: 100%;
}

.mention__content {
  box-shadow: var(--shadow) ;
}

.mention__details {
  padding: 10px;
}

/* --------------- page productos ---------------- */

.products-page__title {
  padding: 8%;
  font-size: 30px;
  color: var(--secondary-color);
}

.products-item__image {
  width: 70%;
  margin: center;
}

.products-item__title {
  font-size: 17px;
  color: var(--secondary-color);
}

.products-item__text {
  margin-right: 10%;
  color: var(--secondary-color);
}

/* --------------- page venta ---------------- */

.payment-section {
  margin-top: 110px;
  margin-bottom: 110px;
  align-items: center;
}

.payment_container {
  margin: auto;
  width: 350px;
  min-height: 300px;
  background-color: white;
  box-shadow: var(--shadow);
  padding: 10px;
}

.payment_container__image {
  max-width: 150px;
  margin: auto;
}

.payment_form {
  padding: 10px 20px;
}

@media (max-width: 760px) {
  .payment_form {
    padding-bottom: 24px;
  }
}

.payment_form__label {
  display: block;
  width: max-content;
  font-size: 12px;
  color: var(--secondary-color);
  margin: 20px 0 4px 0;
}

.payment_form__input {
  width: 98%;
  height: 30px;
  border-radius: 4px;
  border: 1px solid var(--secondary-color);
}

.payment_form__input:hover, .payment_form__label:hover{
  cursor: pointer;
}

.payment_form__input:focus {
  outline-color: var(--primary-color);
}

.payment_form__button {
  background-color: var(--primary-color);
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  margin-top: 30px;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  height: 34px;
  width: 100%;
}

.payment_form__button:hover {
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  cursor: pointer;
}

/* --------------- section terms ---------------- */

.terms-section {
  padding: 2% 10% 10% 10%;
}

.terms-section__title{ 
  font-size: 16px;
  padding: 10px 0;
}

.terms-section__text{
  font-size: 16px;
  text-align: justify;
}


/* --------------- section faqs ---------------- */

.faqs-section {
  padding: 3% 10% 10% 10%;
}

.faqs-section__title{ 
  font-size: 14px;
  padding: 10px 0;
}

.faqs-section__text{
  font-size: 12px;
}

/* --------------- section footer ---------------- */

.footer{
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary-color);
  padding: 20px;
  color: white;
}

.option__link {
  color: var(--primary-color);
}