@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
  --primary-color: #7acc2d;
  --secondary-color: #313337;
  --box: 0px 0 2px 1px #e6e5e9;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  padding: 10px;
  color: white;
}

.navbar__options {
  display: flex;
}

.navbar__option-item {
  padding-left: 20px;
  list-style: none;
}

.navbar__option-link {
  color: var(--secondary-color);
  text-decoration: none;
}

.navbar__option-link:hover {
  color: white;
}

.main-section {
  padding: 15%;
  text-align: center;
}

.products-section {
  background-image: url("../images/curve.webp");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  height: 95px;
  padding: 15%;
  display: flex;
}

.product {
  padding: 20px;
  margin-top: -226px;
}

.product__card {
  background-color: white;
  padding: 20px;
  border-radius: 3px;
  box-shadow: var(--box);
}

.product__image {
  text-align: center;
}

.product__button {
  background-color: var(--primary-color);
  width: 100%;
  padding: 10px;
  color: white;
  border: 0;
  font-size: 12px;
  border-radius: 2px;
}

.product__button:hover {
  background-color: #63a426;
  cursor: pointer;
}

.benefits-section {
  padding: 10%;
  display: flex;
}

.benefit {
  text-align: center;
  padding: 20px;
}

.benefit__img {
  max-height: 100px;
}

.benefit__detail {
  text-align: justify;
}

.mention__title {
  text-align: center;
}

.mentions-section {
  display: flex;
  padding: 5%;
}

.mention__card {
  padding: 10px;
}

.mention__image {
  width: 100%;
}

.mention__content {
  box-shadow: 0px 0 2px 1px #e6e5e9;
}

.mention__details {
  padding: 10px;
}

.footer{
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary-color);
  padding: 20px;
  color: white;
}